
  <body data-spy="scroll" data-target=".navbar" data-offset='61'>
    
    
  
  <!--start fourth section-->
    <section id="fourth" class="content no-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-offset-2">
            <h1 class="text-center">Star of the Sea: September Lunch</h1>
            <p class="text-left">Did we mention to you that we like onepage websites? Sure we did! 
            But now we are extending modals with more options, check it out by clicking on one of the blog items:</p>
          </div>
          <div class="col-lg-12">
            <div class="row">
  <!--start #1 blog-->
              <div class="col-lg-3 col-sm-3">
                <div class="thumbnail">
                  <!-- <ul>
                    <li class="readtime"><i class="icon-time"></i><p>3 min read</p></li>
                    <li class="love"><i class="icon-picture"></i><p>Gallery</p></li>
                    <li class="date"><i class="icon-calendar-empty"></i><p>7.10</p></li>
                  </ul> -->
                  <a href="#blog_1" role="button" data-toggle="modal">
                    <img class="img-responsive" src="http://d1doqjmisr497k.cloudfront.net/~/media/Recipe-Photos/McCormick/Dessert/1007x545/Very-Vanilla-Fruit-Salad_1007x545.ashx?vd=20130307T105116" alt=""> </a>
                    <div class="info">
                      <h4>Happy</h4>
                      <p><span><%= form_tag '/selected_days/create', method: :post do %>
                                <div> <p> Extra Drink 
                                  <%= check_box_tag :drink_extra %> </p>
                                  
                                </div>
                                <div>
                                  <%= hidden_field_tag :lunch_id, @lunch.id %>
                                </div>

                                <div>
                                  <%= submit_tag "Add to Cart!" %>
                                </div>

                                <% end %>
                      </span></p>
                      <p><small></small></p>
                    </div>
                  
                </div>
              </div>
  <!--start #2 blog-->
              <div class="col-lg-3 col-sm-3">
                <div class="thumbnail">
                  <!-- <ul>
                    <li class="readtime"><i class="icon-time"></i><p>5 min read</p></li>
                    <li class="love"><i class="icon-play-sign"></i><p>Video</p></li>
                    <li class="date"><i class="icon-calendar-empty"></i><p>07.11</p></li>
                  </ul> -->
                  <a href="#blog_2" role="button" data-toggle="modal">
                    <img class="img-responsive" src="https://mamasrecipesandafew.files.wordpress.com/2012/08/tetsu_09.jpg" alt="">
                    <div class="info">
                      <h4>Joyful</h4>
                      <p><span> <%= form_tag '/selected_days/create', method: :post do %>
                                <div> <p> Extra Drink 
                                  <%= check_box_tag :drink_extra %> </p>
                                  
                                </div>
                                <div>
                                  <%= hidden_field_tag :lunch_id, @lunch.id %>
                                </div>

                                <div>
                                  <%= submit_tag "Add to Cart!" %>
                                </div>

                                <% end %>
                      </span></p>
                      <p><small> </small></p>
                    </div>
                  </a>
                </div>
              </div>
  <!--start #3 blog-->
              <div class="col-lg-3 col-sm-3">
                <div class="thumbnail">
                  <ul>
                    <li class="readtime"><i class="icon-time"></i><p>7 min read</p></li>
                    <li class="love"><i class="icon-music"></i><p>Music</p></li>
                    <li class="date"><i class="icon-calendar-empty"></i><p>07.12</p></li>
                  </ul>
                  <a href="#blog_3" role="button" data-toggle="modal">
                    <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                    <div class="info">
                      <h4>Grumpy</h4>
                      <p><span>Announcement</span></p>
                      <p><small>Swat at dog intently sniff hand but find something else more interesting why must they do that.</small></p>
                    </div>
                  </a>
                </div>
              </div>
            

            <div class="col-lg-3 col-sm-3">
                <div class="thumbnail">
                  <ul>
                    <li class="readtime"><i class="icon-time"></i><p>7 min read</p></li>
                    <li class="love"><i class="icon-music"></i><p>Music</p></li>
                    <li class="date"><i class="icon-calendar-empty"></i><p>07.12</p></li>
                  </ul>
                  <a href="#blog_3" role="button" data-toggle="modal">
                    <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                    <div class="info">
                      <h4>Grumpy</h4>
                      <p><span>Announcement</span></p>
                      <p><small>Swat at dog intently sniff hand but find something else more interesting why must they do that.</small></p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
  <!--new blog items row-->
            <div class="row">
  <!--start #4 blog-->
              <div class="col-lg-3 col-sm-3">
                <div class="thumbnail">
                  <ul>
                    <li class="readtime"><i class="icon-time"></i><p>4 min read</p></li>
                    <li class="love"><i class="icon-star-empty"></i><p>Featured</p></li>
                    <li class="date"><i class="icon-calendar-empty"></i><p>22.07</p></li>
                  </ul>
                  <a href="#blog_2" role="button" data-toggle="modal">
                    <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                    <div class="info">
                      <h4>Angry</h4>
                      <p><span>Personal</span></p>
                      <p><small>Behind the couch. Intently sniff hand sleep on keyboard play time.</small></p>
                    </div>
                  </a>
                </div>
              </div>
  <!--start #5 blog-->
              <div class="col-lg-3 col-sm-3">
                <div class="thumbnail">
                  <ul>
                    <li class="readtime"><i class="icon-time"></i><p>2 min read</p></li>
                    <li class="love"><i class="icon-heart-empty"></i><p>Most loved</p></li>
                    <li class="date"><i class="icon-calendar-empty"></i><p>21.07</p></li>
                  </ul>
                  <a href="#blog_1" role="button" data-toggle="modal">
                    <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                    <div class="info">
                      <h4>Madness</h4>
                      <p><span>Insight</span></p>
                      <p><small>Stick butt in face leave hair everywhere all of a sudden go crazy and cat snacks run in circles.</small></p>
                    </div>
                  </a>
                </div>
              </div>
  <!--start #6 blog-->
              <div class="col-lg-3 col-sm-3">
                <div class="thumbnail">
                  <ul>
                    <li class="readtime"><i class="icon-time"></i><p>6 min read</p></li>
                    <li class="love"><i class="icon-book"></i><p>Personal</p></li>
                    <li class="date"><i class="icon-calendar-empty"></i><p>20.07</p></li>
                  </ul>
                  <a href="#blog_3" role="button" data-toggle="modal">
                    <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                    <div class="info">
                      <h4>Wink</h4>
                      <p><span>Library</span></p>
                      <p><small>Play time stare at ceiling stick butt in face chew foot and sun bathe and flop over and under the bed.</small></p>
                    </div>
                  </a>
                </div>
              </div>
            

            <div class="col-lg-3 col-sm-3">
                <div class="thumbnail">
                  <ul>
                    <li class="readtime"><i class="icon-time"></i><p>7 min read</p></li>
                    <li class="love"><i class="icon-music"></i><p>Music</p></li>
                    <li class="date"><i class="icon-calendar-empty"></i><p>07.12</p></li>
                  </ul>
                  <a href="#blog_3" role="button" data-toggle="modal">
                    <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                    <div class="info">
                      <h4>Grumpy</h4>
                      <p><span>Announcement</span></p>
                      <p><small>Swat at dog intently sniff hand but find something else more interesting why must they do that.</small></p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
  <!--start #1 blog modal-->
            <div id="blog_1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="blog_1" aria-hidden="true">
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 margin">
                      <button type="button" class="previous" href="#blog_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                      <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                      <button type="button" class="forward" href="#blog_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                    </div>
                    <div class="col-lg-12">
                      <h1>Gallery Post</h1>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-6 col-sm-6">
                          <p class="lead">Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, 
                          it deosn't mttaer in waht oredr the ltteers in a wrod are, 
                          the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.<br><br>
                          <small>The rset can be a toatl mses and you can sitll raed it wouthit porbelm. 
                          Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. 
                          Awesomeness, true story!</small></p>
                          <blockquote>Cupcake ipsum</blockquote>
                          <p><small> Jelly-o cheesecake gummi bears chocolate. Fruitcake sesame snaps cheesecake fruitcake. 
                          Apple pie dessert powder pie tart topping. Dessert pastry toffee dessert bonbon bonbon sugar plum 
                          donut sweet.</small></p>
                          <br>
                          <blockquote>Hairy ipsum</blockquote>
                          <p><small>Boogie nights robot moustache got milk prince barin beefeater cigars, 
                          boogie nights gentleman cigars robot moustache et sodales cum got milk beefeater prince barin 
                          mustachioed cigars?</small></p>
                          <br>
                          <blockquote>Cheese ipsum</blockquote>
                          <p><small>Dolcelatte manchego parmesan cheesy feet croque monsieur red leicester say cheese the big cheese. 
                          Brie everyone loves cheese on toast monterey jack cheesy grin queso stilton cheese strings. 
                          Cauliflower cheese roquefort halloumi.</small></p>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                          <div class="row guter">
                            <div class="col-lg-12 col-sm-12">
                              <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                            </div>
                            <div class="col-lg-6 col-sm-6">
                              <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                            </div>
                            <div class="col-lg-6 col-sm-6">
                              <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                            </div>
                            <div class="col-lg-4 col-sm-4">
                              <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                            </div>
                            <div class="col-lg-4 col-sm-4">
                              <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                            </div>
                            <div class="col-lg-4 col-sm-4">
                              <img class="img-responsive" src="http://placehold.it/728x560" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 margin">
                      <button type="button" class="previous" href="#blog_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                      <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                      <button type="button" class="forward" href="#blog_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  <!--start #2 blog modal-->
            <div id="blog_2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="blog_2" aria-hidden="true">
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 margin">
                      <button type="button" class="previous" href="#blog_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                      <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                      <button type="button" class="forward" href="#blog_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                    </div>
                    <div class="col-lg-6 video">
                      <iframe src="http://player.vimeo.com/video/28959265?title=0&amp;byline=0&amp;portrait=0"></iframe>
                    </div>
                    <div class="col-lg-6">
                      <h1>Vimeo Videos</h1>
                      <p class="lead">Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, 
                      it deosn't mttaer in waht oredr the ltteers in a wrod are, 
                      the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.<br><br>
                      <small>The rset can be a toatl mses and you can sitll raed it wouthit porbelm. 
                      Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. 
                      Awesomeness, true story!</small></p>
                    </div>
                  </div>
                  <div class="content-divider"></div>
                  <div class="row">
                    <div class="col-lg-6">
                      <h1>YouTube Videos</h1>
                      <p class="lead">Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, 
                      it deosn't mttaer in waht oredr the ltteers in a wrod are, 
                      the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.<br><br>
                      <small>The rset can be a toatl mses and you can sitll raed it wouthit porbelm. 
                      Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. 
                      Awesomeness, true story!</small></p>
                    </div>
                    <div class="col-lg-6 video">
                      <iframe src="//www.youtube.com/embed/2sz0mI_6tLQ"></iframe>
                    </div>
                    <div class="col-lg-12 margin">
                      <button type="button" class="previous" href="#blog_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                      <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                      <button type="button" class="forward" href="#blog_3" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  <!--start #3 blog modal-->
            <div id="blog_3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="blog_3" aria-hidden="true">
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 margin">
                      <button type="button" class="previous" href="#blog_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                      <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                      <button type="button" class="forward" href="#blog_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                    </div>
                    <div class="col-lg-12">
                      <h1>Audio Post</h1>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <p class="lead">Bacon swine leberkas, ham hock flank beef venison pork belly. 
                      Tongue capicola pork chop strip steak ribeye. Sausage short ribs ribeye kielbasa fatback jerky swine 
                      corned beef venison.</p>
                      <blockquote>Awerest theme:</blockquote>
                      <audio controls="controls">
                        <source src="http://www.awerest.com/music/awerest.mp3" type="audio/mpeg" />
                        <source src="http://www.awerest.com/music/awerest.ogg" type="audio/ogg" />
                        Your browser does not support this audio
                      </audio><br>
                      <p><small>The rset can be a toatl mses and you can sitll raed it wouthit porbelm. 
                      Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. 
                      Awesomeness, true story!</small></p>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <p class="lead">Drop in axle roll-in rail slide noseblunt slide Steve Severin impossible. 
                      Darkslide street mute-air bail Independent goofy footed opposite footed. Steps sick lien air hanger.</p>
                      <blockquote>Rap loop:</blockquote>
                      <audio controls="controls">
                        <source src="http://www.awerest.com/music/raploop.mp3" type="audio/mpeg" />
                        <source src="http://www.awerest.com/music/raploop.ogg" type="audio/ogg" />
                        Your browser does not support this audio
                      </audio><br>
                      <p><small>The rset can be a toatl mses and you can sitll raed it wouthit porbelm. 
                      Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. 
                      Awesomeness, true story!</small></p>
                    </div>
                  </div>
                  <div class="content-divider"></div>
                  <div class="row">
                    <div class="col-lg-6 col-sm-6">
                      <p class="lead">Nipperkin run a rig ballast chase Shiver me timbers col-lg-ish Main driver lass six pounders clipper. 
                      Nipperkin yawl col-lg-ish Main crimp Cat o'nine tails jib keelhaul topmast..</p>
                      <blockquote>Far east:</blockquote>
                      <audio controls="controls">
                        <source src="http://www.awerest.com/music/fareast.mp3" type="audio/mpeg" />
                        <source src="http://www.awerest.com/music/fareast.ogg" type="audio/ogg" />
                        Your browser does not support this audio
                      </audio><br>
                      <p><small>The rset can be a toatl mses and you can sitll raed it wouthit porbelm. 
                      Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. 
                      Awesomeness, true story!</small></p>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <p class="lead"> Cask length filter pub, conditioning tank. Length crystal malt brew squares additive abbey 
                      craft beer biere de garde. Priming mouthfeel krausen wort cold filter bacterial. </p>
                      <blockquote>Christmas:</blockquote>
                      <audio controls="controls">
                        <source src="http://www.awerest.com/music/christmas.mp3" type="audio/mpeg" />
                        <source src="http://www.awerest.com/music/christmas.ogg" type="audio/ogg" />
                        Your browser does not support this audio
                      </audio><br>
                      <p><small>The rset can be a toatl mses and you can sitll raed it wouthit porbelm. 
                      Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. 
                      Awesomeness, true story!</small></p>
                    </div>
                    <div class="col-lg-12 margin">
                      <button type="button" class="previous" href="#blog_2" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-left"></i></button>
                      <button type="button" class="back" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
                      <button type="button" class="forward" href="#blog_1" role="button" data-toggle="modal" data-dismiss="modal" aria-hidden="true"><i class="icon-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--end fourth section-->
  <!--start footer section-->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 margin copy">
            <p>2013 &copy; Awerest - interactive studio</p>
          </div>
          <div class="col-lg-4 col-sm-6 col-offset-2 margin social">
            <a class="facebook" href="http://www.facebook.com/awerest" target="_blank">Facebook</a> / 
            <a class="twitter" href="http://www.twitter.com/awerest" target="_blank">Twitter</a> / 
            <a class="google" href="https://plus.google.com/u/0/104533843132286032110/posts" target="_blank">Google+</a> / 
            <a class="instagram" href="http://www.instagram.com/awerest" target="_blank">Instagram</a>
          </div>
        </div>
      </div>
    </section>
  <!--end footer section-->
  <!--start back to top button-->
    <a href="#fourth" class="hidden-sm go-top" data-0="opacity: 0;" data-1000="opacity: 1;">Go Top</a>
  <!--end back to top button-->
  <!--start scripts - IMPORTANT: all scripts MUST be loaded after jquery-latest.js as now-->
  <!--latest jQuery-->
    
  <!--menu close on select-->
    <script>
      if ($('.navbar-toggle:visible').length) {
        $('.navbar a').click(function () { $(".nav-collapse").collapse("hide") });
      }
    </script>
  <!--google analytics-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'Your Google Analytics Code']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  <!--end scripts-->
  </body>
</html>