<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h2> <%= @lunch.entree %></h2>

  <ul>
    <li> <%= @lunch.date %></li>
    <li> <%= @lunch.month %></li>
    <li> <%= @lunch.salad %></li>
    <li> <%= @lunch.fruit %></li>
  </ul>
    
    